<% 
	@page_title = @episode.title 
	@page_description = @episode.description
%>
<article>

<header class="clearfix">
	<h2>Episode <%= @episode.number %>: <%= @episode.title %></h2>
    <img src="<%= @episode.art_location %>" />
</header>


<audio controls>
  <source src="<%= @episode.file_location %>" type="audio/mpeg">
Your browser does not support the audio element. <a href="<%= @episode.file_location %>">Download the file</a> instead.
</audio>
<a href="<%= @episode.file_location %>">Download File</a>

<p>
  <b>Date:</b>
  <%= @episode.date.to_s(:long) %>
</p>

<p>
  <b>Show notes:</b>
  <%= @episode.description.html_safe %>
  <%= @episode.show_notes.html_safe %>
</p>

</article>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
