<h3>Listing episodes</h3>

<table>
  <tr>
    <th>Title</th>
    <th>#</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Keywords</th>
    <th>Podcast</th>
    <th></th>
    <th></th>
    <th></th>
    <th>_id</th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>
    <td><%= episode.title %></td>
    <td><%= episode.number %></td>
    <td><%= episode.date.to_s(:short) %></td>
    <td><%= episode.duration %></td>
    <td><%= episode.description %></td>
    <td><%= episode.keywords %></td>
    <td><%= episode.podcast.slug %></td>
    <td><%= link_to 'Show', episode %></td>
    <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
    <td><%= link_to 'Destroy', episode, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= episode.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Episode', new_episode_path %>
