<h2>All Episodes</h2>

<table cellpadding="10" style="max-width:800px; margin:auto">
<% @episodes.each do |episode| %>
  <tr>
    <td><img src="<%= episode.art_location %>" height="100" width="100" /></td>
    <td width="60%"><%= link_to "Ep. #{episode.number}: #{episode.title}", feature_path(episode.number) %><br /><%= episode.description.html_safe %></td>
    <td><%= episode.date.to_s(:xshort) %><br />Duration: <%= episode.duration %></td>
  </tr>
<% end %>
</table>

<br />