<% 
	@page_title = @episode.title 
	@page_description = @episode.description
%>
<article>

<header class="clearfix">
	<h2>Episode <%= @episode.number %>: <%= @episode.title %></h2>
</header>

<p>
  <b>Date:</b>
  <%= @episode.date.to_s(:long) %>
</p>

<p>
  <b>Art Location</b>
  <%= @episode.art_location %>
</p>

<p>
  <b>File Location</b>
  <%= @episode.file_location %>
</p>

<p>
  <b>Show notes:</b>
  <em>Description</em>: <%= @episode.description.html_safe %><br /><br />
  <em>Notes</em>: <%= @episode.show_notes.html_safe %>
</p>

<p>
  <b>File size:</b>
  <%= @episode.file_size %>
</p>

<p>
  <b>Duration:</b>
  <%= @episode.duration %>
</p>

<p>
  <b>Keywords:</b>
  <%= @episode.keywords %>
</p>

<p>
  <b>Podcast:</b>
  <%= @episode.podcast_id %>
</p>


</article>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
