<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @episode.title %>
</p>

<p>
  <b>Number:</b>
  <%= @episode.number %>
</p>

<p>
  <b>Date:</b>
  <%= @episode.date %>
</p>

<p>
  <b>Show notes:</b>
  <%= @episode.show_notes %>
</p>

<p>
  <b>File location:</b>
  <%= @episode.file_location %>
</p>

<p>
  <b>File size:</b>
  <%= @episode.file_size %>
</p>

<p>
  <b>Duration:</b>
  <%= @episode.duration %>
</p>

<p>
  <b>Art location:</b>
  <%= @episode.art_location %>
</p>

<p>
  <b>Description:</b>
  <%= @episode.description %>
</p>

<p>
  <b>Keywords:</b>
  <%= @episode.keywords %>
</p>

<p>
  <b>Podcast:</b>
  <%= @episode.podcast_id %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
