<!DOCTYPE html>
<html class="no-js">
<head>
  <title>The Only Podcast on the Internet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script>
/*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41550224-1', 'theonlypodcastontheinternet.com');
  ga('send', 'pageview');
*/

</script>    
</head>
<body>
	<header><h1>The Only Podcast on the Internet</h1></header>
	<%= link_to "All Episodes", episodes_path %>
	<div class="feed"><%# Link to the feed %></div>


<%= yield %>

</body>
</html>
